body {
	background-color: white;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;

}


h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #0d2c40;
letter-spacing: 1px;
font-size: 45px;
text-transform: uppercase;
margin: 0;

}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-bottom: 20px;

}

a {
	margin: 0px 20px;
	border-bottom: 2px solid transparent;

}

a:hover {
	border-color: white;
}


main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}
.instructionsGame-link {
	font-family: "Raleway";
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;

}
.instructions-link	{
	font-family: "Raleway";
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;


}


p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

.followMoreLink {
		text-decoration: none;

}

footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;

}

.copyright {
	font-family: "Raleway";
	float: left;


}

.message {
	font-family: "Raleway";
	float: right;

}

span.name {
	color: #F15B31;
	font-weight: 700;



}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}